.TodoList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.TodoList input {
    padding: 15px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;

}
.todo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}